html {
    
}

body {
}

#root {
    max-width: 300px;
    margin: 0 auto;
}

#mainapp #header {
    height: 10%;
}

#mainapp #stackpageoutter { 
    height: 80%;
    position: relative;
}

#stackpageoutter #stackpage {
    position: absolute;
    bottom: 0;
}

#mainapp #footer {
    height: 10%;
}

/* !important used to overide bootstrap class attributes */
#builtStack .stackItem {
    background-color: greenyellow !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: green !important;
}

#banktable .bankItem {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    /* override encapsulating table border color */
    border-color: hotpink !important;
    text-align: center;
}
