html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.builtStack {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}