/* html {

}

body {

} */

#mainapp {
    position: relative;
}

#mainapp #header {
    height: 10%;
    /* position: absolute; */
    /* top: 0; */
}

#mainapp #temp { 
    height: 80%;
    position: relative;
}

#temp #stackpage {
    position: absolute;
    bottom: 0;
}

#mainapp #footer {
    height: 10%;
    /* position: absolute; */
    /* bottom: 0; */
}

/* #stackpage #stackwrapper {
    position: relative;
    height: 60%;
} */

/* #stackwrapper #builtStack {
    position: absolute;
    bottom: 0;
} */

/* !important used to overide bootstrap class attributes */
#builtStack .stackItem {
    background-color: greenyellow !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: green !important;
}

/* #stackpage #banktable {
    height: 40%;
    bottom: 0;
    position: absolute;
} */

#banktable .bankItem {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    /* override encapsulating table border color */
    border-color: hotpink !important;
    text-align: center;
}
